html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

main {
    flex-grow: 1;
}

.custom-input {
    width: 50%;
}

.button-group {
    display: flex;
    justify-content: center;
}

    .button-group button {
        width: 100px;
        margin: 1rem;
    }

    .button-group a {
        width: 100px;
        margin: 1rem;
    }

.custom-card a {
    width: auto;
}

.back {
    font-size: 1.2rem;
    text-decoration: none;
}

.post-view {
    display: flex;
    justify-content: center;
}

.custom-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

    .custom-cards img {
        object-fit: cover;
    }

.la-group {
    display: inline;
    float: right;
}

    .la-group i {
        font-size: 1.5rem;
        margin-right: 1rem;
    }

    .la-group a {
        font-size: 1.1rem;
    }

.table-container {
    margin-top: 20px;
}

.table th {
    font-weight: bold;
}

.table td {
    vertical-align: middle;
}
.action-links {
    display: flex;
    justify-content: flex-end;
}

    .action-links a {
        margin-left: 10px;
    }

        .action-links a.btn {
            padding: 5px 10px;
            font-size: 14px;
        }

.create-button {
    text-align: right;
    margin-top: 20px;
}

    .create-button a.btn {
        font-size: 16px;
        padding: 10px 20px;
    }


.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: yellow;
}

.sidebar .nav-link {
    color: white;
}

    .sidebar .nav-link:hover {
        color: yellow;
    }

