@{
    Layout = "_Layout";
}
@model List<ToDoListDto>

<h3 class="text-center">All ToDoLists </h3>
<hr />

<div class="custom-cards">

    @{
        if (Model.Count == 0)
        {
            <h2>There is no post yet...</h2>
        }
    }

    @foreach (var toDoList in Model)
    {
        <div class="card m-1 d-inline" style="width: 27%;">
            <div class="card-body custom-card">
                <h5 class="card-title">@toDoList.Name</h5>
                <a asp-controller="blog" asp-action="viewpost" asp-route-id="@toDoList.Id" class="btn btn-primary">
                    <i class="las la-angle-double-right">
                    </i>Read More</a>
            </div>
        </div>
    }
</div>