@using ToDoApp.Application.UseCases.ToDoLists.Commands.UpdateToDoList;
@using ToDoApp.Application.Commons.Models;
@using ToDoApp.Domain.Entities;
@model ToDoListDto

@{
    ViewData["Title"] = "UpdateToDoList";
    Layout = "_Layout";
}

<h3 class="text-center">Edit ToDoList</h3>
<hr />

<form asp-controller="ToDoList" asp-action="UpdateToDoList" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="Id" />

       <div class="container mt-3 custom-input">
             <label asp-for="Name" class="form-label">ToDoList Name</label>
       <div class="input-group mb-3">
            <input asp-for="Name" type="text" class="form-control" value="@Model.Name">
       </div>
        <span asp-validation-for="Name" class="text-danger"></span><br>

        <div class="button-group">
            <button type="submit" class="btn btn-success">Save</button>
       </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
