@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="display:flex; flex-direction:column; justify-content:center; align-items:center;">
    <h1 class="display-4" style="padding-top: 10px; font-weight:700">Welcome to ToDoApplication</h1>

    <div class="d-flex align-items-center justify-content-center" id="main">
        <img src="/school.jpg" height="350px" />
    </div>

    <div class="button-container">
        <a asp-controller="ToDoList" asp-action="GetAllToDoLists" class="btn btn-primary">ToDoLists</a>
        <a asp-controller="ToDoItem" asp-action="GetAllToDoItems" class="btn btn-primary">ToDoItems</a>
        <a asp-controller="ToDoItem" asp-action="GetAllInforamtionRemider" class="btn btn-primary">Quick Reminder</a>
    </div>
</div>

<style>
    .button-container {
        margin-top: 20px;
    }
</style>
